<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
<div class="page-container">
    <header class ="header">
        <div class="title-container">
            <img class="title-image" src="images/Brandon Samora Title.png" alt="Brandon Samora"
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog.html">Blog</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2025 My Blog</p>
    </footer>
</div>
</body>
</html>

